.sitgradepush-btn-center {
    text-align: center;
}

.sitsgradepush-dasboard .selector-container {
    margin-bottom: 20px;
}

.sitsgradepush-dasboard .module-delivery-table {
    text-align: center;
    margin-bottom: 50px;
    background-color: #fff5ea;
}

.sitsgradepush-dasboard .module-delivery-table .seq-col {
    width: 5%;
}

.sitsgradepush-dasboard .module-delivery-table .title-col {
    width: 40%;
}

.sitsgradepush-dasboard .module-delivery-table .weight-col {
    width: 5%;
}

.sitsgradepush-dasboard .module-delivery-table .mark-col {
    width: 35%;
}

.sitsgradepush-dasboard .module-delivery-table .action-col {
    width: 15%;
}

/* Add CSS styles for the "Back to Top" button */
.sitsgradepush-dasboard .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    z-index: 999;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.sitsgradepush-dasboard .back-to-top:hover {
    background-color: #0056b3; /* Hover background color */
}

/* Styles for select source page */
/* Styles scoped to cards within a specific .sitsgradepush-select-source container */
.sitsgradepush-select-source .card-custom {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Card background colors */
.sitsgradepush-select-source .card-1 {
    background-color: #e0bbe4;
}
.sitsgradepush-select-source .card-2 {
    background-color: #ffdfd3;
}
.sitsgradepush-select-source .card-3 {
    background-color: #bee7e9;
}
.sitsgradepush-select-source .card-4 {
    background-color: #ffebbb;
}

/* Hover effect for cards */
.sitsgradepush-select-source .card-custom:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Centering the card container on the page */
.sitsgradepush-select-source .centered-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    align-items: center;
}

/* Max width for the container */
.sitsgradepush-select-source .container {
    max-width: 90%;
}

.sitsgradepush-select-source .hidden {
    display: none;
}
