{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/assessmentgrades

    Template for displaying the grades for an assessment.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * tabletitle - The assessment name
    * students - Array variable, array of students

    Example context (json):
    {"tabletitle":"","students":[]}
}}
<table class="table table-hover my-4">
    <caption>{{tabletitle}}</caption>
    <thead class="thead-light">
    <tr>
        <th scope="col">Student</th>
        <th scope="col">Portico number</th>
        <th scope="col">Grade</th>
        <th scope="col">Submission date</th>
        <th scope="col">Last grade push</th>
        <th scope="col">Last submission log push</th>
    </tr>
    </thead>
    <tbody>
    {{#students}}
        <tr>
            <th scope="row">{{firstname}} {{lastname}}</th>
            <td>{{idnumber}}</td>
            <td>{{marks}}</td>
            <td>{{handindatetime}}</td>
            <td>{{{lastgradepushresultlabel}}}{{lastgradepushtime}}</td>
            <td>{{{lastsublogpushresultlabel}}}{{lastsublogpushtime}}
            </td>
        </tr>
    {{/students}}
    </tbody>
</table>
{{^students}}
    <p class="alert alert-info">{{#str}} error:nostudentfoundformapping, local_sitsgradepush {{/str}}</p>
{{/students}}