{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/assessmentgrades

    Template for displaying the grades for an assessment.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * assessmentname - The assessment name
    * assessmentdata - Array variable, array of assessment data

    Example context (json):
    {"assessmentname":"","assessmentdata":[]}
}}
<div class="local_sitsgradepush_assessment_grades">
    <table class="table table-bordered">
        <tr>
            <th>Student Code</th>
            <th>Student Name</th>
            <th>Marks</th>
            <th>Last Grade Push result</th>
            <th>Last Grade Push Time</th>
            <th>Submission Date / Time</th>
            <th>Hand-in Status</th>
            <th>Export Staff Member</th>
            <th>Last Submission Log Push result</th>
            <th>Last Submission Log Push Time</th>
        </tr>
        {{#assessmentdata}}
            <tr>
                <td>{{idnumber}}</td>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{marks}}</td>
                <td>{{lastgradepushresult}}</td>
                <td>{{lastgradepushtime}}</td>
                <td>{{handin_datetime}}</td>
                <td>{{handin_status}}</td>
                <td>{{export_staff}}</td>
                <td>{{lastsublogpushresult}}</td>
                <td>{{lastsublogpushtime}}</td>
            </tr>
        {{/assessmentdata}}
    </table>
</div>
