{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/assessmentgrades

    Template for displaying the grade push history for an assessment.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * tabletitle - String, The assessment component's name
    * additionalinfo - Boolean, whether to display additional information
    * students - Array, array of students

    Example context (json):
    {
        "tabletitle":"PHAY0063-2022-T1-A7P-001 Coursework 4000 word written case studies (50%)",
        "additionalinfo":true,
        "students":[{
                "firstname":"Test",
                "lastname":"User",
                "idnumber":"1234567",
                "marks":"0",
                "handindatetime":"2019-01-01 00:00:00",
                "lastgradepushresultlabel":"<span class=\"badge badge-success\">Success</span> ",
                "lastgradepushtime":"2019-01-01 00:00:00",
                "lastsublogpushresultlabel":"<span class=\"badge badge-success\">Success</span> ",
                "lastsublogpushtime":"2019-01-01 00:00:00"
        }]
    }
}}
<table class="table table-hover my-4 sitsgradepush-history-table">
    <caption>{{tabletitle}}</caption>
    <thead class="thead-light">
    {{#additionalinfo}}
        <tr>
            <th colspan="6" style="background-color: #ecf5fd">
                <div>
                    <div class="last-transfer-task-date" style="float: left;" data-assessmentmappingid="{{mappingid}}">{{lasttask}}</div>
                    <div style="float: right;">
                        <div id="task-status-container-{{mappingid}}" class="task-status" style="display: inline-flex;margin-top: 5px;" data-assessmentmappingid="{{mappingid}}"></div>
                    </div>
                </div>
            </th>
        </tr>
    {{/additionalinfo}}
    <tr>
        <th scope="col">{{#str}} index:student, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:porticonumber, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:grade, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:submissiondate, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:lastmarktransfer, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:lastsublogtransfer, local_sitsgradepush {{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#students}}
        <tr>
            <th scope="row">{{firstname}} {{lastname}}</th>
            <td>{{idnumber}}</td>
            <td>{{marks}}</td>
            <td>{{handindatetime}}</td>
            <td>{{{lastgradepushresultlabel}}}{{lastgradepushtime}}</td>
            <td>{{{lastsublogpushresultlabel}}}{{lastsublogpushtime}}
            </td>
        </tr>
    {{/students}}
    </tbody>
</table>
{{^students}}
    <p class="alert alert-info">{{#str}} error:nostudentfoundformapping, local_sitsgradepush {{/str}}</p>
{{/students}}