{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/extension_tiers_table

    Template for displaying extension tiers configuration table.

    Context variables required for this template:
    * hastiers - Boolean, whether there are tiers to display
    * tiers - Array, array of tier configurations
        * assessmenttype - String, assessment type code
        * tier - Integer, tier level
        * extensiondisplay - String, formatted extension display
        * breakdisplay - String, formatted break display
        * enabled - Boolean, whether tier is enabled

    Example context (json):
    {
        "hastiers": true,
        "tiers": [
            {
                "assessmenttype": "CN01",
                "tier": 1,
                "extensiondisplay": "5 days",
                "breakdisplay": "",
                "enabled": true
            },
            {
                "assessmenttype": "CN01",
                "tier": 2,
                "extensiondisplay": "10 days",
                "breakdisplay": "",
                "enabled": true
            },
            {
                "assessmenttype": "EC03",
                "tier": 1,
                "extensiondisplay": "15 minutes per hour",
                "breakdisplay": "5 minutes per hour",
                "enabled": true
            },
            {
                "assessmenttype": "HD02",
                "tier": 1,
                "extensiondisplay": "4 Hours",
                "breakdisplay": "",
                "enabled": false
            }
        ]
    }
}}
{{#hastiers}}
<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th>{{#str}} tier:assessmenttype, local_sitsgradepush {{/str}}</th>
            <th>{{#str}} tier, local_sitsgradepush {{/str}}</th>
            <th>{{#str}} tier:extension, local_sitsgradepush {{/str}}</th>
            <th>{{#str}} tier:break, local_sitsgradepush {{/str}}</th>
            <th>{{#str}} tier:enabled, local_sitsgradepush {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#tiers}}
        <tr>
            <td>{{assessmenttype}}</td>
            <td>{{tier}}</td>
            <td>{{extensiondisplay}}</td>
            <td>{{breakdisplay}}</td>
            <td>
                {{#enabled}}
                    <span class="badge badge-success">{{#str}} yes {{/str}}</span>
                {{/enabled}}
                {{^enabled}}
                    <span class="badge badge-secondary">{{#str}} no {{/str}}</span>
                {{/enabled}}
            </td>
        </tr>
        {{/tiers}}
    </tbody>
</table>
{{/hastiers}}
{{^hastiers}}
<div class="alert alert-info">
    {{#str}} tier:notiersconfigured, local_sitsgradepush {{/str}}
</div>
{{/hastiers}}
