{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/manage_extension_tiers

    Template for displaying the manage extension tiers page.

    Context variables required for this template:
    * description - String, page description
    * currenttierstable - String, rendered HTML table of current tiers
    * importform - String, rendered import form HTML
    * exporturl - String, URL for exporting current tiers to CSV
    * templateurl - String, URL for downloading CSV template
    * hastiers - Boolean, whether there are any tiers configured

    Example context (json):
    {
        "description": "Manage Extension Tiers",
        "currenttierstable": "<table class=\"table table-bordered\"></table>",
        "importform": "<form method=\"post\" enctype=\"multipart/form-data\"></form>",
        "exporturl": "manage_extension_tiers.php?action=export",
        "templateurl": "manage_extension_tiers.php?action=downloadtemplate",
        "hastiers": true
    }
}}
<div class="manage-extension-tiers-container">
    <p>{{{description}}}</p>

    <div class="d-flex justify-content-between align-items-center">
        <h3>{{#str}} tier:currentconfiguration, local_sitsgradepush {{/str}}</h3>
        {{#hastiers}}
        <a href="{{{exporturl}}}" class="btn btn-primary">
            {{#str}} tier:exporttiers, local_sitsgradepush {{/str}}
        </a>
        {{/hastiers}}
    </div>
    {{{currenttierstable}}}

    <h3 class="mt-4">{{#str}} tier:importtiers, local_sitsgradepush {{/str}}</h3>
    <div class="alert alert-info">
        <p>{{#str}} tier:csvtemplate_desc, local_sitsgradepush {{/str}}</p>
        <a href="{{{templateurl}}}">
            {{#str}} tier:downloadtemplate, local_sitsgradepush {{/str}}
        </a>
    </div>
    {{{importform}}}
</div>
