{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/marks_transfer_history_table

    Template for displaying mapping table on the marks transfer history page.

    Classes required for JS:
    * progress-container - The container for the progress bar.

    Data attributes required for JS:
    * data-assessmentmappingid - String, assessment mapping id.
    * data-markscount - Integer, marks count.

    Context variables required for this template:
    * tabletitle - String, The assessment component's name
    * mappingid - String, assessment mapping id.
    * markscount - Integer, marks count.
    * showsublogcolumn - Boolean, whether to show the submission log column.
    * students - Array, array of students

    Example context (json):
    {
        "tabletitle":"PHAY0063-2022-T1-A7P-001 Coursework 4000 word written case studies (50%)",
        "mappingid":"21",
        "markscount":"1",
        "showsublogcolumn":true,
        "students":[{
                "firstname":"Test",
                "lastname":"User",
                "idnumber":"1234567",
                "marksupdatedaftertransfer":"true",
                "transferredmark":"77",
                "marks":"66",
                "handindatetime":"2019-01-01 00:00:00",
                "lastgradepushresultlabel":"<span class=\"badge badge-success\">Success</span> ",
                "lastgradepushtime":"2019-01-01 00:00:00",
                "lastsublogpushresultlabel":"<span class=\"badge badge-success\">Success</span> ",
                "lastsublogpushtime":"2019-01-01 00:00:00"
        }]
    }
}}
<div class="sitsgradepush-history-table-container">
<h5>{{tabletitle}}</h5>
<div id="progress-container-{{mappingid}}" class="alert alert-success hidden progress-container">
    <div>
        <h3>{{#str}} dashboard:marks_transfer_in_progress, local_sitsgradepush {{/str}}</h3>
        <small>{{#str}} progress, local_sitsgradepush {{/str}} 0%</small>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<table id="sitsgradepush-history-table-{{mappingid}}" class="table table-hover my-4 sitsgradepush-history-table" data-markscount="{{markscount}}" data-assessmentmappingid="{{mappingid}}">
    <thead class="thead-light">
    <tr>
        <th scope="col">{{#str}} index:student, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:porticonumber, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:grade, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:submissiondate, local_sitsgradepush {{/str}}</th>
        <th scope="col">{{#str}} index:lastmarktransfer, local_sitsgradepush {{/str}}</th>
        {{#showsublogcolumn}}
            <th scope="col">{{#str}} index:lastsublogtransfer, local_sitsgradepush {{/str}}</th>
        {{/showsublogcolumn}}
    </tr>
    </thead>
    <tbody>
    {{#students}}
        <tr>
            <th scope="row">{{firstname}} {{lastname}}</th>
            <td>{{idnumber}}</td>
            <td>{{^marksupdatedaftertransfer}}{{marks}}{{/marksupdatedaftertransfer}}
            {{#marksupdatedaftertransfer}}
                {{transferredmark}}<br>
                <span class="badge badge-danger">{{#str}} index:mark_changed_to, local_sitsgradepush, {{marks}} {{/str}}</span>
            {{/marksupdatedaftertransfer}}
            </td>
            <td>{{handindatetime}}</td>
            <td>{{{lastgradepushresultlabel}}}{{lastgradepushtime}}</td>
            {{#showsublogcolumn}}
                <td>{{{lastsublogpushresultlabel}}}{{lastsublogpushtime}}</td>
            {{/showsublogcolumn}}
        </tr>
    {{/students}}
    </tbody>
</table>
</div>