{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/pushresults

    Template for displaying the grade push result.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * assessmentname - The assessment name
    * grades - Array variable, array of grades and include the push result.

    Example context (json):
    {"assessmentname":"","grades":[]}
}}
<div class="local_sitsgradepush_assessment_grades">
    <h1>{{#str}} pluginname, local_sitsgradepush {{/str}} - {{assessmentname}}</h1>
    <table class="table table-bordered">
        <tr>
            <th>Student Code</th>
            <th>Student Name</th>
            <th>Marks</th>
            <th>Result</th>
            <th>Time</th>
        </tr>
        {{#grades}}
            <tr>
                <td>{{idnumber}}</td>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{marks}}</td>
                <td>{{pushresult}}</td>
                <td>{{pushtime}}</td>
            </tr>
        {{/grades}}
    </table>
</div>
