{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/select_source_existing

    Template for displaying existing activities.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * assessments - Array, array of assessment.
        * type - String, acitivity type.
        * name - String, assessment name.
        * startdate - String, assessment start date.
        * enddate - String, assessment end date.
        * mapcode - String, map code.
        * mabseq - String, mab sequence.
        * courseid - String, assessment course id.
        * mabid - String, mab id.
        * sourcetype - String, assessment source type.
        * sourceid - String, assessment source id.

    Example context (json):
    {
        "assessments":
        [
            {
                "type": "Assignment",
                "name": "Test assignment",
                "startdate": "13/07/2023 00:00:00",
                "enddate": "20/07/2023 00:00:00",
                "mapcode": "1",
                "mabseq": "1",
                "courseid": "1",
                "mabid": "1",
                "sourcetype": "mod",
                "sourceid": "1"
            }
        ]
    }
}}
<div class="container mt-5">
    <h2 class="mb-4">{{#str}} selectsource:header, local_sitsgradepush {{/str}}</h2>
    <input type="text" id="filterInput" class="form-control mb-3" placeholder="Filter assessments">
    <table class="table table-hover table-bordered" id="existing-activity-table">
        <thead style="background-color: lightgrey">
        <tr>
            <th>Type <i class="fas fa-sort"></i></th>
            <th>Name <i class="fas fa-sort"></i></th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        {{#assessments}}
            <tr>
                <td>{{type}}</td>
                <td>{{name}}</td>
                <td>{{startdate}}</td>
                <td>{{enddate}}</td>
                <td class="text-right">
                    <button type="button"
                            class="btn btn-primary btn-sm select-assessment-button"
                            data-mapcode="{{mapcode}}"
                            data-mabseq="{{mabseq}}"
                            data-mabname="{{mabname}}"
                            data-courseid="{{courseid}}"
                            data-mabid="{{mabid}}"
                            data-sourcetype="{{sourcetype}}"
                            data-sourceid="{{sourceid}}"
                            data-reassess="{{reassess}}"
                            data-extensioneligible="{{extensioneligible}}">
                        <i class="fa-solid fa-plus mr-2"></i>{{#str}} select, local_sitsgradepush {{/str}}
                        <span class="sr-only">{{name}}</span>
                    </button>
                </td>
            </tr>
        {{/assessments}}
        </tbody>
    </table>
    <div id="noMatchingRowsMessage" style="display: none;">
        {{#str}} selectsource:no_match_row, local_sitsgradepush {{/str}}
    </div>
</div>
