{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/select_source_page

    Template for displaying source options.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json): {}
}}
<h2>Select Source</h2>
<div class="sitsgradepush-select-source">
    <div class="centered-container">
        <h2 class="mb-4">{{#str}} selectsource:header, local_sitsgradepush {{/str}}</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex">
                    <div id="existing-activity" class="card-custom card-1 mb-3">
                        <h5 class="card-title">
                            <i class="fa-solid fa-tasks"></i> {{#str}} selectsource:existing, local_sitsgradepush {{/str}}
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div id="create-new-activity" class="card-custom card-2 mb-3">
                        <h5 class="card-title">
                            <i class="fa-solid fa-plus-circle"></i> {{#str}} selectsource:new, local_sitsgradepush {{/str}}
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div id="gradebook-item" class="card-custom card-3 mb-3">
                        <h5 class="card-title">
                            <i class="fa-solid fa-book-open"></i> {{#str}} selectsource:gradeitem, local_sitsgradepush {{/str}}
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div id="advance-multiple-turnitin-activity" class="card-custom card-4 mb-3">
                        <h5 class="card-title">
                            <i class="fa-solid fa-layer-group"></i> {{#str}} selectsource:mul_turnitin, local_sitsgradepush {{/str}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
