{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitsgradepush/transfer_all_button

    Template for displaying the transfer all button.

    Classes required for JS:
    * js-btn-transfer-all-marks

    Data attributes required for JS:
    * data-assessmentmappingid - String, assessment mapping id.
    * data-sync - Integer, sync.

    Context variables required for this template:
    * transfer-all-button-label - String, button label.

    Example context (json):
    {
        "transfer-all-button-label":"Transfer Marks",
        "sync":1,
        "taskrunning":false
    }
}}

<button class="btn btn-primary js-btn-transfer-all-marks"
        id="push-all-button"
        data-toggle="modal"
        data-target="#transferModal"
        data-assessmentmappingid="all"
        data-sync="{{sync}}"
        {{#taskrunning}}disabled{{/taskrunning}}
>
    <i class="fa-solid fa-cloud-arrow-up mr-2"></i> {{transfer-all-button-label}}
</button>
